# Visual Studio 관련
.vs/

# Visual Studio user-specific settings
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sdf
*.ipch
*.VC.db

# 설정 파일 무시
*.ini

# 빌드 아웃풋
x64/
Debug/
Release/

# 중간 파일들
*.obj
*.pdb
*.tlog
*.ipch
*.pch
*.log

# 셰이더 바이너리
*.cso

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
